@font-face {
  font-family: 'Flexy';
  src: url('font/flexysans_new.ttf');
}
@font-face {
  font-family: 'FlexyM';
  src: url('font/flexysans-medium_new.ttf');
}
@font-face {
  font-family: 'FlexyB';
  src: url('font/flexysans-bold_new.ttf');
}
@font-face {
  font-family: 'Reckoner';
  src: url('font/Reckoner_Bold.ttf');
}

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-family: 'FlexyM', sans-serif;
  line-height: 1;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color .3s;
}
a:hover {
  color: #f3d231 !important;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  background: #334f95;
  width: 100%;
  height: 100px;
}
.logo {
  font-size: 40px;
  line-height: 100px;
  font-family: 'Reckoner';
  color: #f3d231;
  text-transform: uppercase;
  display: inline-block;
  width: 125px;
  background: url("../img/logo.png") center center no-repeat;
  text-indent: -9999px;
}
.topmenu {
  display: inline-block;
  position: absolute;
  line-height: 100px;
}
.topmenu > ul > li {
  display: inline-block;
  color: white;
  font-family: 'FlexyM';
  font-size: 20px;
  padding: 0 15px;
  cursor: pointer;
}
.topmenu > ul > li:hover/*:first-of-type*/ {
  color: #78681a;
  background: #f3d231;
  z-index: 1001;
}
.topmenu > ul > li:hover/*:first-of-type*/ .dropmenu {
  display: block;
  z-index: 1000;
}
.dropmenu {
  background: #f3d231;
  position: absolute;
  width: 600px;
  min-height: 220px;
  display: none;
  margin: -15px;
  cursor: default;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
  line-height: 1;
}
.dropmenu > .leftmenu {
  width: 200px;
  margin-top: 20px;
  float: left;
}
.dropmenu > .leftmenu:after {
  content: '';
  display: block;
  position: absolute;
  left: 200px;
  top: 10px;
  bottom: 10px;
  height: 92%;
  width: 2px;
  background: #78681a;
}
.dropmenu > .leftmenu > a {
  color: #78681a !important;
  display: block;
  padding: 10px 15px;
  line-height: 20px;
}
.dropmenu > .leftmenu > a:hover {
  background: #D8BE40;
}
.dropmenu > .leftmenu > a.active {
  color: white !important;
  background: #78681a;
}
.dropmenu > .showmenu {
  float: left;
  margin-left: 20px;
  width: calc(600px - 280px);
  padding: 20px;
}
.dropmenu > .showmenu > div > .title {
  font-size: 24px;
  margin: 10px 0;
  display: block;
  color: #78681a !important;
}
.dropmenu > .showmenu > div > .title:not(:first-of-type) {
  margin-top: 25px;
}
.dropmenu > .showmenu > div > .submenu {
  margin-left: 25px;
}
.dropmenu > .showmenu > div > .submenu > a {
  color: #78681a !important;
  font-size: 16px;
  font-family: 'Flexy';
  width: 45%;
  float: left;
  margin: 5px;
  display: block;
}
.dropmenu > .showmenu > div > .submenu > a:hover {
  text-decoration: underline;
}

.contacts {
  float: right;
  cursor: pointer;
}
.button {
  background: #f3d231;
  color: #334f95;
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  height: 25px;
  width: 150px;
  cursor: pointer;
}
.contacts > .privateCabinet {
  width: 210px;
}
.contacts > .phone {
  color: white;
  font-size: 24px;
  line-height: 45px;
  padding-left: 25px;
}
.contacts > .phone:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: url('../img/phone.png') no-repeat;
  margin-left: -25px;
  top: 35px;
}
.contacts > .support {
  color: white;
  text-align: center;
  font-size: 18px;
}

main {
  width: 1200px;
  margin: 0 auto;
}
#slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}
#slider > .img {
  width: 9999px;
}
#slider > .img > li {
  width: 1200px;
  list-style-type: none;
  float: left;
}
#slider > .img > li > img {
  width: 100%;
}
#slider > .controls {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
}
#slider > .controls > li {
  background: #adb0b3;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 2px;
  cursor: pointer;
}
#slider > .controls > li.on, #slider > .controls > li:hover {
  background: #f3d231;
}
#slider > .actions > div {
  position: absolute;
  width: 50px;
  height: 50px;
  top: calc(50% - 50px);
  cursor: pointer;
}
#slider > .actions > .left {
  background: url("../img/slider/leftAction.png") no-repeat;
  left: 15px;
}
#slider > .actions > .right {
  background: url("../img/slider/rightAction.png") no-repeat;
  right: 15px;
}

.block {
  background: #334f95;
  margin: 60px 0 0 0;
  padding: 10px 20px 20px;
  color: white;
  position: relative;
}
.block > .labels > a {
  font-size: 23px;
  display: inline-block;
  margin: 5px;
  color: white;
  min-width: 300px;
}
.block > .labels > a:hover {
  color: #f3d231;
}
.block > .labels > a:before {
  content: '';
  width: 32px;
  height: 32px;
  display: inline-block;
  top: 9px;
  position: relative;
}
.block > .labels > .ourNet:before {
  background: url("../img/icon-outNet.png") no-repeat;
}
.block > .labels > .rouming:before {
  background: url("../img/icon-rouming.png") no-repeat;
}
.block > .labels > .dropMobNumber:before {
  background: url("../img/icon-dropWithNumber.png") no-repeat;
}
.block > .labels > .salonWithMap:before {
  background: url("../img/icon-salonToMap.png") no-repeat;
}
.block > .labeb {
  position: absolute;
  right: 30px;
  top: 32px;
}
.button.labeb {
  color: #78681a;
  font-size: 23px;
  width: 290px;
  height: 60px;
  line-height: 60px;
}
.button.labeb:hover {
  box-shadow: 0 0 20px #f3d231;
}
.block.news {
  width: 720px;
  margin-right: 55px;
  padding: 22px;
  height: 270px;
  float: left;
}
.block.pay {
  height: 270px;
  width: 350px;
  padding: 22px 15px;
  float: left;
}
.block > .title {
  padding: 10px;
  text-transform: uppercase;
  color: #f3d231;
  font-size: 23px;
}
.block.news > .news {
  padding: 10px 40px;
}
.block > .news > a {
  display: block;
  color: white;
  font-size: 18px;
  margin: 15px 0;
}
.block > .news > a:hover {
  color: #f3d231;
}
.block.pay > .pay {
  padding: 10px 40px;
}
.block.pay > .pay > label {
  font-size: 20px;
  font-family: 'Flexy';
  margin-top: 20px;
  display: block;
}
.block.pay > .pay > label:first-of-type {
  margin-top: 0px;
}
.block.pay > .pay > .group-input > * {
  display: inline-block;
  font-size: 15px;
  font-family: 'FlexyB';
  margin-top: 5px;
}
.block.pay > .pay > .group-input > label {
  background: #adb0b3;
  color: #353535;
  width: 40px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.block.pay > .pay input {
  border: 0;
  background: white;
  height: 25px;
  font-size: 15px;
  font-family: 'FlexyB';
  margin-top: 5px;
  padding: 0 10px;
}
.block.pay > .pay > .group-input > input {
  margin-left: -5px;
  width: 200px;
}
.block.pay > .pay > .group-button {
  margin-top: 20px;
  position: relative;
}
.block.pay > .pay > .group-button > .button {
  height: 50px;
  line-height: 50px;
  width: 240px;
}
.block.pay > .pay .cardLogo {
  width: 50px;
  height: 50px;
  position: absolute;
  right: -20px;
  top: 0;
  background: url("../img/cardLogo.png") no-repeat;
}

.clearfix {
  clear: both;
}

.fl_l {
  float: left;
}
.fl_r {
  float: right;
}
.twoColumn {
  width: 30%;
}
.oneColumn {
  width: 60%;
}
.margin_r {
  margin-right: 40px;
}

.navigation > a {
  display: block;
  color: white;
  margin: 10px;
  font-size: 18px;
}


footer {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  border-top:1px solid #C5C5C5;
  font-size: 12px;
  color: #bcbbbb;
}
footer > .info {
  float: left;
  margin-top: -10px;
}
footer > .copyright {
  float: right;
}



@media(max-width: 1280px) {
  main, .container, #slider > .img > li {
    width: 1000px;
  }
  .block > .labels > a {
    min-width: 200px;
  }
  .block.news {
    width: 520px;
  }
  .oneColumn {
    width: 58%;
  }
}
@media(max-width: 1024px) {
  main, .container, #slider > .img > li {
    width: 800px;
  }
  .block > .labels > a {
    min-width: 200px;
    display: block;
  }
  .block > .labeb {
    top: 37%;
  }
  .block.news {
    width: calc(100% - 43px);
  }
  .block.pay {
    display: none;
  }
  .topmenu > ul > li:last-of-type {
    display: none;
  }
  .oneColumn {
    width: 55%;
  }
}
@media(max-width: 840px) {
  main, .container, #slider > .img > li {
    width: 640px;
  }
  .block > .labels > a {
    min-width: 200px;
    display: block;
  }
  .block > .labeb {
    position: static;
    margin-top: 50px;
  }
  .block > .labeb > .button.labeb {
    width: 100%;
  }
  .block.news, .twoColumn, .oneColumn {
    width: calc(100% - 43px);
  }
  .block.pay {
    display: block;
    width: calc(100% - 28px);
    height: auto;
  }
  .pay.phone_form .group-input {
    display: inline-block;
  }
  .block.pay > .pay > label:last-of-type {
    margin: -50px 300px;
    position: absolute;
  }
  .block.pay > .pay > .group-label {
    display: inline-block;
    margin-left: 55px;
  }
  .block.pay > .pay > .group-button > .button {
    width: 100%;
  }
  .block.pay > .pay .cardLogo {
    right: 0px;
  }
  .topmenu {
    display: none;
  }
}
@media(max-width: 640px) {
  body {
    overflow-x: hidden;
  }
  main, .container, #slider > .img > li {
    width: 100%;
    margin: 0;
  }
  header > .container {
    padding: 0 0 0 10px;
  }
  #slider {
    display: none;
  }
  .block > .labels > a {
    min-width: 200px;
  }
  .block.news {
    width: calc(100% - 44px);
    height: auto;
  }
  .block.news > .news {
    padding: 0;
  }
  .block.pay > .pay > label:last-of-type {
    position: relative;
    margin: 10px 0 0 0;
  }
  .block.pay > .pay > .group-label {
    display: block;
    margin: 0;
  }
  .block.pay {
    width: calc(100% - 30px);
  }
  .block.pay > .pay {
    padding: 0;
  }
}
